<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 注意：命名空间一定要和源(自动生成的Mapper.xml相同) -->
<mapper namespace="com.example.forum.dao.MessageMapper">

  <!-- 自定义的结果集映射 -->
  <resultMap id="AllInfoResultMap" type="com.example.forum.model.Message" extends="BaseResultMap">
    <!-- 关联发送者对象 -->
    <association property="postUser" resultMap="com.example.forum.dao.UserMapper.BaseResultMap"
                 columnPrefix="u_" />

  </resultMap>

  <!-- 根据用户Id查询该用户未读数量 -->
  <select id="selectUnreadCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(*) from t_message
    where state = 0
    and deleteState = 0
    and receiveUserId = #{receiveUserId,jdbcType=BIGINT}
  </select>
  
  <!-- 根据接收者用户Id查询所有站内信 -->
  <select id="selectByReceiveUserId" parameterType="java.lang.Long" resultMap="AllInfoResultMap">
    select
    u.id as u_id,
    u.avatarUrl as u_avatarUrl,
    u.nickname as u_nickname,
    u.gender as u_gender,
    m.id,
    m.postUserId,
    m.receiveUserId,
    m.content,
    m.state,
    m.createTime,
    m.updateTime
    from t_message m, t_user u
    where m.postUserId = u.id
    and m.deleteState = 0
    and m.receiveUserId = #{receiveUserId,jdbcType=BIGINT}
    order by m.createTime desc, m.state asc
  </select>

</mapper>